body{
	background-color: green;
	background-image: url("savanni.jpg");
	background-repeat: no-repeat;
	background-position: center;
	 background-size: cover;

}

h1 {font-size: 40px;
	border-style: dotted;
	border-width: 2px;
	color: white;
}

h2 {font-size: 30px;
	border-style: dotted;
	border-width: 2px;
	color: white;
}

p	{
	font-size: 20px;
	max-width: 500px;
	background-color: gray;
	border-style: solid;
	border-radius: 20px;
	border: 5px solid;
	padding: 2px;
	color: white;
}
figure {
		color: white;
}
label {
		color: white;
}