body{
	background-color: green;
	
}

h1 {
	border-style: dotted;
	border-width: 20px;
}

h2 {border-style: dotted;
	border-width: 20px;
}

p	{
	max-width: 20px;
	background-color: gray;
	border-style: solid;
	border-radius: 10px;
	border: 20px solid;
	padding: 15px;
}